/* CSS with media-queries */

@media screen and (max-width: 480px) {
	html {
		-webkit-text-size-adjust: none;
	}

	.logo_main{
		display: none;
	}

	.ezekielGatchalian{
		padding-top: 20px;
	}

	.about_me{
		padding-top: 0px;
		width: 100%;
	}

	li.lists{
		width: 100%;
	}

	.project_title1{
		background-color: #61b1f2;
	}

	.project_list1{
	background-color: #FFFFFF;
	}

	.project_description {
		color: #666666;
	}

	.project_title2{
		background-color: #fc5e5e;
	}

	.project_list2{
	background-color: #FFFFFF;
	margin-right: 0%; 
	margin-left: 0%; 
	}

	.project_title3{
		background-color: #666666;
	}

	.project_list3{
	background-color: #FFFFFF;
	}

}

@media screen and (min-width:481px) and (max-width: 650px) {

	.logo_main{
		display: none;
	}

	.ezekielGatchalian{
		padding-top: 20px;
	}

	.about_me{
		padding-top: 0px;
		width: 100%;
	}

	li.lists{
		width: 100%;
	}

	.project_title1{
		background-color: #61b1f2;
	}

	.project_list1{
	background-color: #FFFFFF;
	}

	.project_description {
		color: #666666;
	}

	.project_title2{
		background-color: #fc5e5e;
	}

	.project_list2{
	background-color: #FFFFFF;
	margin-right: 0%; 
	margin-left: 0%; 
	}

	.project_title3{
		background-color: #666666;
	}

	.project_list3{
	background-color: #FFFFFF;
	}
	
}

@media screen and (min-width:651px) and (max-width:980px){

	.logo_main{
		display: none;
	}

	.ezekielGatchalian{
		padding-top: 20px;
	}

	.about_me{
		padding-top: 0px;
		width: 100%;
	}

	li.lists{
		width: 100%;
	}

	.project_title1{
		background-color: #61b1f2;
	}

	.project_list1{
	background-color: #FFFFFF;
	}

	.project_description {
		color: #666666;
	}

	.project_title2{
		background-color: #fc5e5e;
	}

	.project_list2{
	background-color: #FFFFFF;
	margin-right: 0%; 
	margin-left: 0%; 
	}

	.project_title3{
		background-color: #666666;
	}

	.project_list3{
	background-color: #FFFFFF;
	}
	
}

@media screen and (min-width:981px) {

	#header{
		display: none;
	}

	.ezekielGatchalian{
		display: none;
	}

	.projects_label{
		display: none;
	}

}
