/*default style*/

body{
	font-family: helvetica, arial, sans-serif;
}

p{
	padding-left: 30px;
	padding-right: 30px;

}

h3{
	padding-left: 30px;
	padding-right: 10px;

}

/*start of the css in the header area*/

#header{
	height: 56px;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 30px;
	margin-bottom: 30px

}

#header:before,
#header:after{
	content: "";
  display: table;
  clear: both;
}

#logo_header{
	float: left;
	margin-right: 50px;

	
}

#navigation_links{
	
	padding-top: 19px

}

a{
	text-decoration: none;
}
/*end of the css in the header area*/

/*start of the css in the main content area*/

#logo_main{
	background-color: #e6e6e6;
	min-height: 124px;
	float: left;
	max-width: 429px; 
	text-align: center;
	padding-left: 176px; /* 429px - 77px(logo width) = 352px / 2 = 176px */
	padding-right: 176px; /* 429px - 77px(logo width) = 352px / 2 = 176px */
	padding-top: 25px;
	padding-bottom: 15px;
	margin-bottom: 0px;
	margin-right: 1px;
	
}

#about_me{
	min-height: 164px;
	float: left;
	max-width: 858px; /* 1287px - 429px = 858 (will work well when a margin-right: 1px is added to #logo_main) */

}	
#main_content{
	border: 1px solid #e6e6e6;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;

}

#main_content:before,
#main_content:after{
	content: "";
  display: table;
  clear: both;
	

}

div.main_content{

}
/*.projects{
	list-style: none;
	padding: 0px;
	color: #FFFFFF;

}
*/
ul{
	list-style: none;
	padding-left: 0px;
	/*min-height: 500px;*/
	color: #FFFFFF;

}

li{
	max-width: 428.666667px; /* 1286px / 3px = 428.666667 (will work well when a margin-right: 1px is added to #project_list1 and #project_list2) */
	min-height: 150px;
	margin-bottom: 0px;
	margin-right: 0px;

}
#project_list1{
	background-color: #61b1f2;
	float: left;
	margin-right: 1px;

}

#project_list2{
	background-color: #fc5e5e;
	float: left;
	margin-right: 1px;
}

#project_list3{
	background-color: #666666;
	float: left;
}
/*end of the css in the main content area*/

/*start of the css in footer area*/
#footer{
	border: 1px solid #e6e6e6;
	margin-right: 30px;
	margin-left: 30px;
}
/*end of the css in the footer area*/


