/*default style*/
html{
	font-size: 1em; /* 1em = 16px*/
}

body{
	font-family: helvetica, arial, sans-serif;
	font-size: 1em; /* 1em = 16px*/
}

ul{
	padding: 0;
    list-style-type: none;
}

img{
	max-width: 100%;
	height: auto;
	width: auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}

#page_wrapper{
	width: 75%; /*Holding outermost DIV (will have 1013px main_content div) */
	margin: auto;
	vertical-align: middle;
	min-width: 18.125em; /* 290px divided by 16px (1em = 16px) */
	max-width: 1013px;
}

/*start of the css in the header area*/

img.image_header{
	width: 51.948051%;
	height: 52.525252%;
}

#header{
	margin-top: 30px;
}
.logo_header{
	float: left;
	display: inline-block;
}

#navigation_links{
	padding-top: 4px;
}

#navigation_links ul li{
	display: inline-block;
	padding-left: 1.068376%; /* 10 divided by 936 (1013-77=936) */
	padding-right: 1.068376%; /* 10 divided by 936 (1013-77=936) */
}

#navigation_links ul li a{
	text-decoration: none;
}

/*end of the css in the header area*/

/*start of the css in the main content area*/

.main_content{
	border: 0.0625em solid #e6e6e6; /* 1 divided by 16 (1em = 16px)*/
	margin-top: 50px;
}

.logo_main{
	background-color: #e6e6e6;
	min-height: 158px;
	float: left;
	text-align: center;
	padding-top: 50px; 
	margin-right: 0.0987166%; /* 1 divided by 1013 */
	width: 33.267522%; /* 335 divided by 1010 */
	min-width: 18em; /* 288px divided by 16px (1em = 16px) */
}

.about_me{
	min-height: 208px;
	float: left;
	width: 66.633761%; /* 675 divided by 1013 */
	min-width: 18em; /* 288px divided by 16px (1em = 16px) */
}

.about_me p{
	padding-left: 4.451038%; /* 30 divided by 674 */
	padding-right: 4.451038%; /* 30 divided by 674 */
}

.projects{
	color: #FFFFFF;

}

.projects h3{
	font-size: 1.1875em; /* 19 divided by 16 (1em = 16px) */
	padding-left: 8.928571%; /* 30 divided by 336*/
	padding-right: 8.928571%; /* 30 divided by 336*/
}

.projects p{
	padding-left: 8.928571%; /* 30 divided by 336*/
	padding-right: 8.928571%; /* 30 divided by 336*/
}

li.lists{
	width: 33.267522%; /* 337 divided by 1013 */
	min-height: 208px;
	min-width: 18em; /* 288px divided by 16px (1em = 16px) */
}

.project_list1{
	background-color: #61b1f2;
	float: left;
}

.project_list2{
	background-color: #fc5e5e;
	float: left;
	margin-right: 0.098716%; /*1 divided by 1013*/
	margin-left: 0.098716%; /*1 divided by 1013*/
}

.project_list3{
	background-color: #666666;
	float: left;
}

/*end of the css in the main content area*/

/*start of the css in footer area*/
#footer{
	border: 0.0625em solid #e6e6e6; /* 1 divided by 16 (1em = 16px)*/
	margin-top: 10px;
	padding-left: 2.961500%;
}

/*end of the css in the footer area*/