/*default style*/
html{
	font-size: 0.875em; /* 14px divided by 16px (1em = 16px) */
}

body{
	font-family: helvetica, arial, sans-serif;
	font-size: 0.875em; /* 14px divided by 16px (1em = 16px) */
}

ul{
	padding: 0;
    list-style-type: none;
}

img{
	max-width: 100%;
	height: auto;
	width: auto;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
 
.clearfix:after {
  clear: both;
}

#page_wrapper{
	width: 75%; /* Holding outermost DIV (will have 1013px main_content div) */
	margin: auto;
	vertical-align: middle;
	min-width: 18.125em; /* 290px divided by 16px (1em = 16px) */
	max-width: 63.3125em; /* 1013px divided by 16px (1em = 16px) */
}

/*start of the css in the header area*/

img.image_header{
	width: 51.948051%;
	height: 52.525252%;
}

#header{
	margin-top: 30px;
}
.logo_header{
	float: left;
	display: inline-block;
}

#navigation_links{
	padding-top: 23px; /* 77px - 54px */
}

#navigation_links ul li{
	float: right;
	display: inline-block;
	padding-left: 1.068376%; /* 10 divided by 936 (1013-77=936) */
	padding-right: 1.068376%; /* 10 divided by 936 (1013-77=936) */
}

#navigation_links ul li a{
	text-decoration: none;
}

/*end of the css in the header area*/

/*start of the css in the main content area*/

.main_content{
	/*border: 0.0625em solid #e6e6e6; /* 1 divided by 16 (1em = 16px)*/
	margin-top: 50px;
}

.ezekielGatchalian{
	color: #666666;
	font-size: 1.50em; /* 11 divided by 16 (1em = 16px) */
}

.logo_main{
	/*background-color: #e6e6e6;*/
	min-height: 158px; /* 208 - 50 */ 
	float: left;
	text-align: left;
	padding-top: 20px; 
	padding-left: 2.961500%; /* 30 divided by 1013 */
	width: 19.743336%; /* 337 divided by 1013 */
}

.about_me{
	min-height: 178px; /* 178 - 25 */
	float: left;
	padding-top: 25px; 
	width: 77.295162%; /* 783 divided by 1013 */
}

.about_me p{
	/*padding-left: 4.451038%; /* 30 divided by 674 */
	/*padding-right: 4.451038%; /* 30 divided by 674 */
}

.projects_label{
	color: #666666;
	font-size: 1.50em; /* 11 divided by 16 (1em = 16px) */

}

.projects{
	color: #FFFFFF;

}

.projects h3{
	font-size: .875em; /* 14 divided by 16 (1em = 16px) */
	padding-left: 8.928571%; /* 30 divided by 336*/
	padding-right: 8.928571%; /* 30 divided by 336*/
}

.projects p{
	padding-left: 8.928571%; /* 30 divided by 336*/
	padding-right: 8.928571%; /* 30 divided by 336*/
}

.project_description{
	font-size: .750em; /* 12 divided by 16 (1em = 16px) */
}

li.lists{
	width: 32.280355%; /* 327 divided by 1013 */
	min-height: 208px;
}

.project_list1{
	background-color: #61b1f2;
	float: left;
}

.project_list2{
	background-color: #fc5e5e;
	float: left;
	margin-right: 1.579467%; /*1 divided by 1013*/
	margin-left: 1.579467%; /*1 divided by 1013*/
	/*margin-right: 0.098716%; /*1 divided by 1013*/
	/*margin-left: 0.098716%; /*1 divided by 1013*/
}

.project_list3{
	background-color: #666666;
	float: left;
}

/*end of the css in the main content area*/

/*start of the css in footer area*/
#footer{
	font-size: .688em; /* 11 divided by 16 (1em = 16px) */
	text-align: right;
	color:  #666666;
	border: 0.0625em solid #e6e6e6; /* 1 divided by 16 (1em = 16px)*/
	margin-top: 10px;
	padding-top: 2.961500%; /* 30 divided by 1013 */
	/*padding-left: 2.961500%; /* 30 divided by 1013 */
}

/*end of the css in the footer area*/